.list {
    list-style: none;
    padding-inline-start: 0px;
    width: 300px;
}
.listItem {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.button {
    min-width: 100px;
    height: 26px;
    background-color: lightseagreen;
    border: 1px solid ;
    border-radius: 4px;
    cursor: pointer;
    color: white;
    font-weight: 600;
}